<div class="card mt-5">
  <div class="card-header d-flex">
    <a href="#" [routerLink]="['/dashboard']"><i class="bi bi-chevron-left fs-2 me-3 fw-bold"></i></a>
    <h1 class="m-0">Create Account</h1>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onCreateUser()" novalidate>
    <div class="card-body">
      <div class="form-row d-flex gap-4 mb-4">
        <div class="flex-fill">
          <label for="firstName" class="form-label required fw-bold">First Name</label>
          <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="userForm.controls['firstName'].dirty ? (userForm.controls['firstName'].invalid ? 'is-invalid' : 'is-valid') : ''"
            id="firstName" placeholder="BrainRidge" required minlength="2" maxlength="32" ngbAutofocus>
          @if(userForm.controls['firstName'].hasError('required')) {
          <div class="invalid-feedback">First Name cannot be empty</div>
          }
          @if(userForm.controls['firstName'].hasError('minLength')) {
          <div class="invalid-feedback">First Name cannot have less than 2 characters</div>
          }
          @if(userForm.controls['firstName'].hasError('maxLength')) {
          <div class="invalid-feedback">First Name cannot have more than 32 characters</div>
          }
        </div>
        <div class="flex-fill">
          <label for="lastName" class="form-label required fw-bold">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Consulting"
            [ngClass]="userForm.controls['lastName'].dirty ? (userForm.controls['lastName'].invalid ? 'is-invalid' : 'is-valid') : ''"
            required minlength="2" maxlength="32">
          @if(userForm.controls['lastName'].hasError('required')) {
          <div class="invalid-feedback">Last Name cannot be empty</div>
          }
          @if(userForm.controls['lastName'].hasError('minLength')) {
          <div class="invalid-feedback">Last Name cannot have less than 2 characters</div>
          }
          @if(userForm.controls['lastName'].hasError('maxLength')) {
          <div class="invalid-feedback">Last Name cannot have more than 32 characters</div>
          }
        </div>
      </div>
      <div class="form-row d-flex gap-4 mb-3">
        <div class="w-100">
          <label for="accountType" class="form-label d-block required fw-bold">Account Type</label>
          <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="accountType" formControlName="accountType" id="accountType0"
              [value]="accountTypes.CHEQUING" autocomplete="off">
            <label class="btn btn-outline-primary" for="accountType0">Chequing</label>

            <input type="radio" class="btn-check" name="accountType" formControlName="accountType" id="accountType1"
              [value]="accountTypes.SAVINGS" autocomplete="off">
            <label class="btn btn-outline-primary" for="accountType1">Savings</label>
          </div>
        </div>
      </div>
      <div class="form-row d-flex gap-4 mb-3">
        <div class="w-100">
          <label for="balance" class="form-label required fw-bold">Initial Balance</label>
          <input type="number" formControlName="balance" class="form-control" id="balance" placeholder="Enter Balance"
            [ngClass]="userForm.controls['balance'].dirty ? (userForm.controls['balance'].invalid ? 'is-invalid' : 'is-valid') : ''"
            required min="0" max="5000">
          @if(userForm.controls['balance'].hasError('required')) {
          <div class="invalid-feedback">Balance cannot be empty</div>
          }
          @if(userForm.controls['balance'].hasError('min')) {
          <div class="invalid-feedback">Balance cannot be less than 0</div>
          }
          @if(userForm.controls['balance'].hasError('max')) {
          <div class="invalid-feedback">Balance cannot be greater than 5000</div>
          }
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end gap-1">
      <button type="button" class="btn btn-outline-secondary border-0 px-5"
        [routerLink]="['/dashboard']">Cancel</button>
      <button type="submit" class="btn btn-primary px-5" [disabled]="userForm.invalid">Add</button>
    </div>
  </form>
</div>