/* You can add global styles to this file, and also import other style files */
@import "styles/braini-ridge";

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

html,
body {
  height: 100%;
  min-height: 100%;
}

label.required::after {
  content: "*";
  color: red;
  margin-left: 2px;
}
