<div class="d-flex justify-content-between py-4 align-items-center">
  <h1>User Details</h1>
  <button class="btn btn-primary" (click)="onOpenAddUserModal()">Add User</button>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="text-center"># of Accounts</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for(user of userData; track user.id; let i = $index) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td class="text-center">{{ user.noOfAccounts }}</td>
        <td class="text-center"><button class="btn btn-primary btn-sm px-3"
            (click)="onViewUserDetails(user.id)">View</button></td>
      </tr>
      }
    </tbody>
  </table>
</div>