.path {
  animation: move 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.path:nth-child(2) {
  animation-delay: 0s;
}

.path:nth-child(1) {
  animation-delay: 0.2s;
}

.path:nth-child(3) {
  animation-delay: 0.4s;
}

.path {
  animation: move 1.5s ease-in-out infinite;
}
